body {
    font-family: 'Poppins', sans-serif;;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.padding {
    padding-right: 6em;
    padding-left: 6em;
}
/********************************************header********************************************/
header {
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    height: 324px;
    color: #ffffff;
    padding-top: 2em;
    margin-bottom: 4em;
}
header a {
    color: #ffffff;
}
.main-nav li {
    margin-right: 3em;
}
.main-nav-ul img {
    height: 4px;
    width: 8px;
    vertical-align: middle;
    margin-left: 0.3em;
}
.main-nav-ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}
.main-nav a {
    font-weight: 700;
    font-size: 1rem;
}
.current-page {
    color: #5863f8;
}
.mini-nav-h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 0.4em;
}
.mini-nav a {
    font-size: 1.15rem;
}
.border {
    border-right: 2px solid #ffffff;
    padding-right: 1em;
    margin-right: 1em;
}
/********************************************section********************************************/
.about-us {
    color: #5863f8;
    font-size: 1rem;
    font-weight: 700;
}
.article-section-title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0.1em;
    margin-bottom: 1em;
}
.article-section-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    -webkit-column-gap: 1em;
       -moz-column-gap: 1em;
            column-gap: 1em;
}
.section-div-x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f8f8f8;
}
.section-div-x img {
    height: 100%;
    width: 30%;
    max-width: 168px;
    -o-object-fit: cover;
       object-fit: cover;
}
.inside-section-div-x {
    padding-top: 2em;
    padding-left: 1.2em;
}
.inside-section-div-x span {
    color: #5863f8;
    font-size: 1rem;
    font-weight: 700;
}
.inside-section-div-x h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.inside-section-div-x p {
    color: #b1b1b1;
    font-size: 1rem;
    line-height: 1.5;
    padding-right: 2em;
}
.arrow {
    width: 60px;
    height: 100%;
    background-color: #5863f8;
    margin-left: auto; 
    margin-right: 0; 
}
.arrow a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 0 1.5em;
}
.check-in-out {
    background-color: #f8f8f8;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 3em;
    margin-bottom: 1em;
}
.check-in-out div {
    width: 20%;
}
label {
    color: #5863f8;
    font-size: 0.9rem;
}
input {
    margin-top: 0.5rem;
    height: 60px;
    width: 100%;
    border: 2px solid #ebebeb;
    font-size: 0.9rem;
    padding: 1.5em;
}
.submit-button {
    margin-top: 1.4rem;
    color: #ffffff;
    background-color: #5863f8;
    border: none;
    width: 20%;
    height: 60px;
    font-size: 0.9rem;
    font-weight: 700;   
}
.send-icon {
    height: 15px;
    width: 15px;
    vertical-align: middle;
}
/********************************************footer********************************************/
footer {
    height: 420px;
    background-color: #121212;
    padding-top: 4em;
    padding-bottom: 2em;
}
footer h2 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 1em;  
}
footer h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1em;
}
.contact-info a{
    color: #ffffff;
    font-size: 1rem;
} 
.Zetta-Hotels {
    width: 21%;
    text-align: justify;
    line-height: 1.2rem;
}
.media-icon {
    margin-top: 2em;
    margin-right: 0.2em;
    height: 35px;
    width: 35px;
}
footer p {
    color: #b1b1b1;
    font-size: 1rem;
}
footer a {
    color: #5863f8;
    font-size: 1rem;
    line-height: 2rem;
}
address a {
    line-height: 2.7rem;
}
.mail {
    height: 13px;
    width: 17px;
    vertical-align: middle;
}
.phone {
    height: 18px;
    width: 18px;
    vertical-align: middle;
}
.map-pin {
    height: 18px;
    width: 15px;
    vertical-align: middle;
}
.page-info {
    margin-top: 3em;
}